body {
    background-color: aliceblue;
    margin: 0;
}
#section {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    background-color: thistle;

}
h2 {
    text-align: center;
    font-size: 2em;
    color: hsl(0, 97%, 44%);
}       
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 input[type="email"] {
    width: 200px;
    padding: 10px;
    margin: 5px 5px 5px 45px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}
input:focus {
    background-color: antiquewhite;
}
label {
    font-size: 1.5em;
    margin: 5px;
}
button[type="submit"] {
    background-color: hsl(240, 100%, 70%);
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: hsl(240, 100%, 50%)
}
#toDoList {
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  
}
li {
    list-style-type: none; 
    padding: 10px;
    margin: 5px;
    background-color: hsl(240, 100%, 90%);
    border-radius: 5px;
    font-size: 1.2em;
    font-family: Poetsen One;
}










